@import '../../variables.scss';

h2 {
  margin-bottom: 20px;
}

img {
  max-width: 2%;
}

.about {
  &__text {
    display: block;
    align-items: center;
  }
}

.about {
  padding: 0 1rem;
  margin-left: 20px;
  height: 100vh;

  &__text {
    max-width: 40%;
  }
  &__img {
    max-width: 40%;
    padding-left: 3rem;
  }
}

.container__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .about {
    padding: 0 1rem;
    margin-left: 20px;
    display: flex;
    align-items: center;

    &__text {
      max-width: 40%;
    }
    &__img {
      max-width: 40%;
      padding-left: 3rem;
    }
  }

  .container__row {
    flex-direction: row;
  }

  h2 {
    margin-bottom: 20px;
  }
}
