@import '../../variables.scss';

h2 {
  margin-bottom: 20px;
  color: $light;
}

img {
  max-width: 100%;
}

.about {
  &__text {
    display: block;
  }
}

.about {
  padding: 0 1rem;
  margin-left: 1em;
  height: 100vh;

  &__text {
    max-width: 100%;
    margin-bottom: 1.8em;
  }
  &__img {
    max-width: 100%;
  }
}

.container__row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .about {
    padding: 0 1rem;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      max-width: 40%;
    }
    &__img {
      max-width: 40%;
      padding-left: 3rem;
    }
  }

  .container__row {
    flex-direction: row;
  }

  h2 {
    margin-bottom: 20px;
  }
}
