@import '../../variables.scss';

.project-area {
  padding: 4rem 0;

  .project-title {
    margin-bottom: 1em;
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .col {
      position: relative;
      width: 100%;
      padding-right: 1em;
      padding-left: 1em;
      margin-bottom: 1em;

      .my-project {
        .img {
          a {
            img {
              max-width: 300px;
              transition: transform 0.4s ease;
            }
          }
        }
      }
    }
  }
}
