@import '../variables.scss';

.about {
  @media (min-width: 768px) {
    margin: 0 auto;
    width: 80%;
  }
  &-text {
    margin-top: 3rem;
    h2 {
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.1em;
      line-height: 1.5;
      padding-bottom: 1.3rem;
    }
  }
  &-img {
    object-fit: contain;
    object-position: center;
    img {
      background-color: $platinum;
      vertical-align: middle;
      width: 100%;
      height: 50%;

      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }
}
