@import '../variables.scss';

.container {
  display: block;
  &.title {
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
      max-width: 100%;
      font-size: 2rem;
    }
  }

  .greeting {
    font-size: 1.5rem;
    text-transform: lowercase;

    @media (min-width: 768px) {
      font-size: 1.7rem;
    }
  }

  .title-text {
    font-size: 1.7rem;
    text-transform: none;

    @media (min-width: 768px) {
      font-size: 1.9rem;
    }
  }

  .subtitle {
    font-size: 0.85rem;

    @media (min-width: 768px) {
      font-size: 1.05rem;
    }
  }

  &.avatar {
    .image {
      object-fit: contain;
      object-position: center;
      background-color: $platinum;
      vertical-align: middle;
      width: 150px;
      height: 150px;

      @media (min-width: 768px) {
        width: 225px;
        height: 225px;
      }
    }
  }
}
