@import '../variables.scss';

.container {
  display: block;
  &.title {
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
      max-width: 100%;
      font-size: 2rem;
    }
  }
  &.avatar {
    .image {
      object-fit: contain;
      object-position: center;
      background-color: $platinum;
      vertical-align: middle;
      width: 150px;
      height: 150px;
      border-radius: 50%;

      @media (min-width: 768px) {
        width: 300px;
        height: 300px;
      }
    }
  }
}
