@import '../variables.scss';

.card-grid {
  margin: 2em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 auto;
  grid-template-rows: max-content;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

.project-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gap {
  @media (min-width: 768px) {
    height: 10%;
  }
}
