@import '../variables.scss';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

button {
  background: none;
  border-style: none;
  padding: 1rem;
}

a,
.toggle {
  color: $light;
  text-decoration: none;
  &.nav-link {
    &.active {
      padding: 0.5rem 1rem;
      background-color: $secondary;
      border-radius: $border-radius;
      transition: all 0.1s ease-out;
    }
  }
}

.flex-nav {
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.column-4 {
  grid-column-start: span 4;
  grid-column-end: span 4;
  display: flex;
  justify-content: flex-end;
}

.column-8 {
  grid-column-start: span 8;
  grid-column-end: span 8;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  font-size: 1.125rem;
  align-items: center;
  color: $light;
  font-size: 2rem;
}

i {
  margin: 0 0 0 0.5rem;
}

.nav-item {
  margin: 0 1.5rem 0 0;
  list-style: none;
}

.flex-nav {
  ul.active {
    display: flex;
    background: $body-bg;
    height: 80vh;
    opacity: 0.9;
    li {
      margin: 0.5rem 0;

      a {
        color: $light;
        font-size: 2rem;
        line-height: 5rem;
      }
    }
  }
  ul {
    position: absolute;
    z-index: 1;
    flex-wrap: wrap;
    flex-direction: column;
    display: none;
    width: 100%;
    left: 0;
    padding: 1rem;
    text-align: center;
    margin-top: 4rem;
  }
}

@media (min-width: 62rem) {
  .toggle,
  button {
    display: none;
  }

  .column-6 {
    grid-column-start: span 6;
    grid-column-end: span 6;
  }
  .flex-nav {
    ul {
      display: flex;
      flex-direction: row;
      position: relative;
      justify-content: flex-end;
      margin: auto;
    }
  }
}
