$oxford: #14213d;
$orange: #fca311;
$light: #ffffff;
$dark: #000;
$platinum: #e5e5e5;

$body-bg: #fcfff7;

$border-radius: 3px;
$box-shadow: 1px 2px 5px 0 #00000059;

$heading-color: #333;

//grid
$grid__bp-md: 768;

$redBorder: red solid 5px;
